*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-moz-selection {
  background-color: #4b4b4b;
  color: #c9b375;
}

::selection {
  background-color: #4b4b4b;
  color: #c9b375;
}

body {
  line-height: 1.7;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  color: #777;
  background-color: #ebebeb;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cg fill='%23f7f7f7' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E");
  overflow-x: hidden;
}

.intro-title {
  height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: "Lobster Two", cursive;
}

.intro-title__img {
  margin: 0;
  padding: 0;
  background: url("../img/your-wedding-countdown.jpg") center/cover no-repeat;
  width: 277px;
  height: 78px;
  display: inline-block;
}

@media (min-width: 480px) {
  .intro-title__img {
    width: 446px;
    height: 125px;
  }
}

.section-form {
  border-top: 1px solid #c9b375;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 1rem 4rem;
  font-size: 1.5rem;
}

@media (min-width: 480px) {
  .section-form {
    font-size: 1.8rem;
    padding-top: 3rem;
  }
}

@media (min-width: 769px) {
  .section-form {
    font-size: 2rem;
    padding: 5rem 1rem 8rem;
  }
}

.form {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 3px;
  padding: 3rem 2rem;
  position: relative;
  display: none;
}

@media (min-width: 480px) {
  .form {
    padding: 3rem 5rem;
  }
}

@media (min-width: 769px) {
  .form {
    padding: 5rem 7rem;
  }
}

.form__error {
  color: rgba(255, 0, 0, 0.5);
  text-align: center;
}

.form__title {
  text-transform: capitalize;
  text-align: center;
}

.input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 2rem 0;
}

@media (min-width: 480px) {
  .input {
    margin: 3rem 2rem 4rem;
  }
}

@media (min-width: 769px) {
  .input {
    margin: 4rem 2rem 5rem;
  }
}

.input__number {
  margin-right: 1rem;
  border-radius: 50%;
  background-color: #fff;
  width: 1.8em;
  text-align: center;
}

.input__field {
  padding: 0.6rem 1rem;
  border-radius: 3px;
  border: none;
  -webkit-box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.6);
  color: #777;
  width: 100%;
  font-size: 1.5rem;
}

@media (min-width: 480px) {
  .input__field {
    width: auto;
  }
}

@media (min-width: 769px) {
  .input__field {
    font-size: 2rem;
    padding: 1rem;
  }
}

@media (min-width: 480px) {
  .input__label {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

.heading-secondary {
  text-align: center;
  color: #c9b375;
  text-transform: uppercase;
  font-family: serif;
  font-weight: 500;
  letter-spacing: 1px;
  background-color: #fff;
  font-size: 2rem;
  padding: 3rem 1rem 2rem;
  margin-bottom: -5rem;
}

@media (min-width: 769px) {
  .heading-secondary {
    font-size: 2.6rem;
  }
}

.names {
  text-transform: capitalize;
  font-size: 7.5rem;
  font-weight: 700;
  color: #4b4b4b;
  line-height: 1;
  text-align: center;
}

.names__and-sign {
  font-size: 10rem;
  color: #c9b375;
}

@media (min-width: 769px) {
  .names__name {
    font-size: 12.5rem;
  }
  .names__and-sign {
    font-size: 18rem;
  }
}

.countdown-container {
  text-align: center;
  padding: 0.7rem;
}

.date-text {
  font-size: 2.2rem;
  text-transform: uppercase;
  color: #aaaaaa;
  margin: 2rem 1rem;
  font-family: serif;
  font-weight: 500;
  letter-spacing: 1px;
  display: inline-block;
  position: relative;
}

.date-text::before, .date-text::after {
  content: "";
  height: 1px;
  background-color: #aaaaaa;
  position: absolute;
  margin: 0 1rem;
}

.date-text::before {
  left: -100%;
  top: 50%;
  width: 90%;
}

.date-text::after {
  right: -100%;
  top: 50%;
  width: 90%;
}

.countdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 5rem;
}

.countdown__item {
  padding: 2rem 1.5rem;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(221, 196, 128, 0.4)), to(rgba(221, 196, 128, 0.1)));
  background-image: linear-gradient(to top, rgba(221, 196, 128, 0.4), rgba(221, 196, 128, 0.1));
  border-radius: 5rem;
  width: 20rem;
  font-family: "Lobster Two", cursive;
  line-height: 1.2;
}

.countdown__number {
  text-shadow: 2px 2px 0 white;
  font-weight: 900;
  color: #a18f5d;
  font-size: 12rem;
}

.countdown__description {
  font-size: 3rem;
  text-transform: lowercase;
  color: #4b4b4b;
}

@-webkit-keyframes moveInLeft {
  from {
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moveInLeft {
  from {
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.btn {
  padding: 1.8rem 3rem;
  border: none;
  letter-spacing: 2px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  background-color: #383838;
  color: #fff;
  outline: 0.3rem solid #c9b375;
  outline-offset: 0.3rem;
}

.btn:hover {
  cursor: pointer;
  outline: 0.8rem solid #c9b375;
}

.btn:active {
  outline: 0.3rem solid #c9b375;
}

@media (min-width: 769px) {
  .btn {
    font-size: 2rem;
  }
}

@media (min-width: 480px) {
  .btn {
    font-size: 1.8rem;
  }
}

.btn__submit {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
}

.btn__reset {
  margin: 5rem auto;
}

.side-btns-section {
  position: fixed;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 999;
  opacity: 0.8;
}

.side-btns {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.side-btns__item {
  -webkit-transform: translateX(-10rem);
          transform: translateX(-10rem);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  padding: 1.5rem;
  margin: 0;
  color: #fff;
  text-align: center;
}

.side-btns__item--1 {
  font-size: 2.1rem;
  background-color: #0a093b;
  -webkit-animation: moveInLeft 1s ease-out 0.2s forwards;
          animation: moveInLeft 1s ease-out 0.2s forwards;
}

.side-btns__item--2 {
  font-size: 2.1rem;
  background-color: #1c1a59;
  -webkit-animation: moveInLeft 1s ease-out 0.6s forwards;
          animation: moveInLeft 1s ease-out 0.6s forwards;
}

.side-btns__item--3 {
  font-size: 2.2rem;
  background-color: #575594;
  -webkit-animation: moveInLeft 1s ease-out 1s forwards;
          animation: moveInLeft 1s ease-out 1s forwards;
}

.side-btns__item:hover {
  padding: 1.5rem 2.2rem;
}
/*# sourceMappingURL=main.css.map */