// COLORS
$color-primary: #c9b375;
$color-primary-dark: #a18f5d;
$color-primary-light: rgba(221, 196, 128, 0.4);

$color-grey-light: #aaaaaa;
$color-grey-dark: #777;
$color-grey-dark2: rgb(75, 75, 75);
$color-black: rgb(56, 56, 56);
$color-white: #fff;

// MEDIA QUERIES
$tablet: 480px;
$desktop: 769px;
